<h1>Sign Up</h1>
<!-- need to use form_for -->

<!-- form for -->
<%= form_for @user do |f| %>
  <%= f.label :name, "Username" %>
  <%= f.text_field :name %><br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %><br>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %><br>
  <%= f.submit "Submit" %>
<% end %>
