<!-- Move this sorting logic to its own page -->
<h3> Sort All Spells By: </h3>

<%= form_tag(spells_sort_path, method: :get) do %>
  <%= label_tag(:power_type, "Search for Power Type:") %>
  <%= text_field_tag :power_type, params[:power_type] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<h5> OR </h5>
<%= form_tag(spells_power_level_path, method: :get) do %>
  <%= label_tag(:power_level, "Search for Power Level Greater Than:") %>
  <%= number_field_tag :power_level, params[:power_level] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% if params[:cat_id] && @spells != nil %>

  <h5> OR <%= link_to "Create a Spell", new_cat_spell_path(@cat) %> </h5>

  <h3><%= @cat.name %>'s Spells </h3>

  <% @spells.each do |s| %>
    <% if s.cat_id == params[:cat_id] %>
      <p>Name: <%= s.name %></p>
      <p>Description: <%= s.description %></p>
      <p>Type: <%= s.power_type %></p>
      <p>Power Level: <%= s.power_level %></p>
      <% if s.cat_id %>
        <p><%= link_to "Created By", cat_path(s, :cat_id => s.cat_id)%></p>
      <% else %>
        <p><%= link_to "Created By", spell_path(s, :spell_id => s.id)%></p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p> <%= @cat.name %> has no spells! </p>
  <p> <%= link_to "Create a Spell Here!", new_cat_spell_path(@cat) %> </p>
<% end %>
