<h2><%= @spell.name %></h2>
<p><%= @spell.description %></p>
<p><%= @spell.power_type %></p>
<p><%= @spell.power_level %></p>

<%= link_to "Edit #{@spell.name}", edit_spell_path(@spell) %><br>
<%= link_to "Delete #{@spell.name}", spell_path(@spell), method: 'delete' %><br>
<%= link_to "Back to #{@cat.name}", cat_path(@cat) %>
