<p> Spells </p>

<% if params[:power_type] %>
    <p> Power Type: <%= @spells.last.power_type %> </p>

    <% @spells.each do |f| %>
        <%= f.name %>
        <%= f.desciption %>
        <%= f.power_level%>
    <% end %>
<% elsif params[:power_level %>

    <p> Power Level: <%= @spells.last.power_level %> </p>

    <% @spells.each do |f| %>
        <%= f.name %><br>
        <%= f.description %><br>
        <%= f.power_type %><br>
    <% end %>
<% end %>
