<p class="cat_name"><%= @cat.name %></p>
<p class="cat_type_of"><%= @cat.type_of %></p>
<p class="cat_age"><%= @cat.age %></p>
<h4><%= link_to "Edit #{@cat.name}", edit_cat_path(@cat) %></h4>
<h4><%= link_to "Delete", cat_path(@cat), method: 'delete' %></h4>

<h4><%= link_to "Send #{@cat.name} to SCHOOL.NAME"%></h4>
