<!DOCTYPE html>
<html>
<head>
  <title>SpellCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="header">
    <% if logged_in? %>
      <%= form_tag signout_path, method: :post, authenticity_token: true do %>
        <%= submit_tag "Log Out" %>
      <% end %>
    <% else %>
      <%= link_to signin_path %>
    <% end %>
  </div>
  <div class="fields_with_errors">
    <% if flash[:message].is_a?(Array) %>
      <% flash[:message].each do |message| %>
        <%= message %><br>
      <% end %>
    <% else %>
      <%= flash[:message] %>
    <% end %>
  </div>
</head>
<body>

<%= yield %>

</body>
<div class="footer">
  <footer>
    <% if logged_in? %>
      <p id="footer_user_link"><%= link_to "Back to User", user_path(current_user.id) %></p>
    <% end %>
  </footer>
</div>
</html>
